doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href=require("@Sass/pages/index.scss"))


    title Home
    include ./partials/page.pug

  body
    main.container
        h1.page-title Pokemon Card Tracker
        .displaytest
            img(src="https://media4.giphy.com/media/U2nN0ridM4lXy/200w.gif?cid=6c09b9529tltu73gideqyzgxq17npgg8pwvjbh9679fpke4p&ep=v1_gifs_search&rid=200w.gif&ct=g" style="width: 100%")

        div.display-container

            .display
                img#pokemon-01
            .display
                img#pokemon-02
            .display
                img#pokemon-03


    script(src="JS/pages/index.js")
