@use '../../partials/screens' as *;


/* Zoom effect and pop-out when hovering over the image */
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.card-image {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 0 auto;

  img{
    border-radius: 10px; /* Adjust the radius value to control the roundness */
    object-fit: cover;    /* Ensures the image fills the space */

  }

  overflow: hidden; /* Hide any part of the image that overflows the container */
  z-index: 1;
}

.card-info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 5px auto;
}


#display-card {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 18vw;
  padding: 0.3rem;
  border-radius: 30px;
  transition: opacity 0.3s ease;
}

#display-card.open {
  display: block;
  opacity: 1;
}

#display-card img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}


.zoomable-image {
  transition: transform 0.3s ease, z-index 0.3s ease; /* Smooth zoom transition */
}


@media (max-width: $breakpoint-small) { /* Phones */
  #display-card {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    padding: 0.3rem;
    border-radius: 30px;
    transition: opacity 0.3s ease;
  }
}