@use '../../partials/screens' as *;


/* Zoom effect and pop-out when hovering over the image */
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.card-image {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 0 auto;

  img{
    border-radius: 10px; /* Adjust the radius value to control the roundness */
    object-fit: cover;    /* Ensures the image fills the space */

  }

  overflow: hidden; /* Hide any part of the image that overflows the container */
  z-index: 1;
}

.card-info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 5px auto;
}

/* Static Rainbow Effect */
.reverse-holo::after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet);
  opacity: 0.5; /* Make the rainbow effect semi-transparent */
  z-index: 1; /* Place the rainbow effect above the image */
  border-radius: 8px; /* Optional: rounds the corners to match the image */
}

/* Ensure the image is not hidden by the overlay */
.reverse-holo img {
  width: 100%;
  object-fit: cover; /* Makes sure the image covers the area without stretching */
  border-radius: 8px; /* Optional: rounds the corners of the image */
  z-index: 0; /* Keeps the image below the rainbow effect */
}


#display-card {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 18vw;
  padding: 0.3rem;
  border-radius: 30px;
  transition: opacity 0.3s ease;
}

#display-card.open {
  display: block;
  opacity: 1;
}

#display-card img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}


.zoomable-image {
  transition: transform 0.3s ease, z-index 0.3s ease; /* Smooth zoom transition */
}


@media (max-width: $breakpoint-small) { /* Phones */
  #display-card {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    padding: 0.3rem;
    border-radius: 30px;
    transition: opacity 0.3s ease;
  }
}
