nav.navbar
    img.navbar-logo(src=require("Images/orakeshi-icon.png"))
    ul.navbar-list
        li.navbar-list-item
            a.navbar-link-eng Home
            br
            a.navbar-link-jp(href="/index.html") ホーム

        li.navbar-list-item
            a.navbar-link-eng Scarlet & Violet
            br
            a.navbar-link-jp(href="/tracker/scarlet-violet/index.html") ???

        li.navbar-list-item
            a.navbar-link-eng Info
            br
            a.navbar-link-jp(href="") ???

        li.navbar-list-item
            a.navbar-link-eng Other
            br
            a.navbar-link-jp(href="") ???
