nav.navbar
    img.navbar-logo(src=require("Images/orakeshi-icon.png"))
    ul.navbar-list
        li.navbar-list-item
            a.navbar-link-eng Home
            br
            a.navbar-link-jp(href="/PokemonCards-FrontEnd") ホーム

        li.navbar-list-item
            a.navbar-link-eng Scarlet & Violet
            br
            a.navbar-link-jp(href="/PokemonCards-FrontEnd/tracker/scarlet-violet/") ???

        li.navbar-list-item
            a.navbar-link-eng Info
            br
            a.navbar-link-jp(href="") ???

        li.navbar-list-item
            a.navbar-link-eng Other
            br
            a.navbar-link-jp(href="") ???
